.copy-btn {
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
   outline: none;
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
   border: none;
   padding: 5px;
   border-radius: 3px;
}

.copied-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  display: none;
}
